.wrapper {
    background: #FDFDFD;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.formContent {
    background: #fff;
    padding: 30px 40px;
    width: 360px;
    position: relative;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-input {
    border: none;
    color: #0d0d0d;
    padding: 16px 0;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    outline: 0;
}