button {
    font-size: 14px;
    background-color: #fc6e5b;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.primary {
    background-color: #fc6e5b;
    color: #FFFFFF;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 32px 0 40px 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    &:hover {
        background-color: lighten(#fc6e5b, 5%)
    }
}