@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html,
body {
    max-width: 100vw;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h4 {
    font-weight: 400;
}

input,
button {
    outline: 0;
    font-family: 'Lato', sans-serif;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $brandColor;
}

p {
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        a {}
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    thead {

        background: #FBFBFB;

        tr>th {
            padding: 12px;
            font-weight: 400;
            text-align: left;
        }
    }

    tbody {

        font-weight: 300;

        tr>td {
            padding: 12px;
        }

        tr:nth-child(odd) {
            background-color: #FFFFFF;
        }

        tr:nth-child(even) {
            background-color: #F6F6F6;
        }
    }
}

.full-width {
    width: 100%;
}